@using AssetManagement.Domain.Dtos.AssetDto
@model CreateAssetDto

<h2>Create Asset</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>SerialNumber</label>
        <input asp-for="SerialNumber" />
    </div>

    <div>
        <label>Cost</label>
        <input asp-for="Cost" />
    </div>

    <div>
        <label>CategoryName</label>
        <input asp-for="CategoryName" />
    </div>
    <div>
        <lable>MacAddress</lable>
        <input asp-for="MacAddress" />
    </div>
    <button type="submit">Create</button>
</form>